/* style for header */
/* carousel part */
.carousel {
  height: 100vh;
  width: 100%;
}
.carousel__item {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .5s ease-in-out;
}
.carousel__item.active {
  opacity: 1;
  transition-duration: .5s;
}
.carousel__item__text {
  margin-top: -1000px;
  font-size: 3em;
  font-weight: 700;
  color: rgb(125, 255, 255);
  background-color: rgb(2, 54, 54);
  border-radius: 20px;
  padding: 0 40px;
}
.carousel__item.active .carousel__item__text {
  animation: text 4s ease
}

@keyframes text {
  0% {
    margin-top: -200px;
    opacity: .5;
  }
  to {
    margin-top: 400px;
    opacity: 1;
  }
}
.carousel img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index:  -1;
}


/* navbar 
	section */
nav {
  grid-template-columns: 2fr 4fr 1fr;
  line-height: 3em;
  margin: 50px 0 0;
  position: relative;
}
/* .brandName, */
/* .nav__menu__links {
  line-height: 3em;
} */
nav li {
  border-bottom: 2px solid var(--text-color);
}
nav ul:hover li {
  border-bottom: 2px solid transparent;
}

/* brand name */
.brandName {
  justify-self: center;
  font-size: 3.5em;
  color: var(--text-color);
  margin-left: 10px;
}

/* burger icon */
.nav__menu__burger {
  display: none;
}

.nav__menu__burger__top,
.nav__menu__burger__middle,
.nav__menu__burger__bottom {
  transition: .2s;
  background-color: var(--text-color);
  height: 5px;
  width: 35px;
  margin: 7px 0;
}
.nav__menu__burger.active .nav__menu__burger__top {
  transform: rotate(-45deg) translate(-11px, 6px);
}
.nav__menu__burger.active .nav__menu__burger__middle {
  opacity: 0;
}
.nav__menu__burger.active .nav__menu__burger__bottom {
  transform: rotate(45deg) translate(-10px, -6px);
}

/* nav menu */
.nav__menu__links {
  justify-content: flex-end;
  width: 100%;
}
.path {
  color: var(--text-color);
  text-decoration: none;
  width: 150px;
  transition: .35s;
  border-bottom: 1px solid var(--text-color);
  border-radius: 5px;
}
.path:hover {
  background-color: var(--text-color);
  color: white;
}
.path.active {
  background-color: var(--text-color);
  color: white;
}


/* cart icon */
.cart__icon {
  color: var(--text-color);
}
.cart__qty {
  color: var(--text-color);
  padding-left: 3px;
  font-size: 1.35em;
  font-weight: 600;
}


/* miniPage */
.miniPage h2 {
  color: var(--text-color);
  padding: 20px 0;
}

.miniPage-container {
  background-color: white;
  min-height: 10vh;
  max-height: 50vh;
  width: 400px;
  z-index: 999;
  position: absolute;
  transition: .75s;
  top: 100%;
  right: 0px;
  display: none;
  overflow: scroll;
  border: 5px solid var(--text-color);
  line-height: 1em;
}
.miniPage__table-container p {
  color: var(--text-color);
  font-size: 1.2em;
}
.miniPage__table{
  table-layout: auto;
  width: 100%;
  border-collapse:  collapse;
}
.miniPage-container ::-webkit-scrollbar {
  width: 10px;
}

.miniPage-container.active {
  animation: slideIn .75s ease forwards;
  display: block;
}

@keyframes slideIn {
  from {
    right: -400px;
  }
  to {
    right: 0px;
  }
}

.miniPage__table {
  width: 100%;
  border: 1px solid var(--text-color);
}
nav .miniPage__table td {
  padding: 5px 0;
}
.miniPage__table tbody td {
  color: var(--text-color);
}
.miniPage__table th,
.miniPage__table tfoot {
  background-color: #a05e17;
  color: white;
}

.miniPage__table td,
.miniPage__table thead th {
  border: 1px solid var(--text-color);
  padding: 10px 0;
}
.miniPage__table tbody tr td:nth-child(1) {
  text-align: left;
  padding-left: 5px;
}
.miniPage__table tbody tr td:nth-child(2) {
  text-transform: lowercase;
}
.adjust-cell {
  align-items: center;
  justify-content: space-around;
}
